[submodule "Octopus/vendor/spdlog"]
	path = Octopus/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Octopus/vendor/GLFW"]
	path = Octopus/vendor/GLFW
	url = https://github.com/Olaverbest/glfw.git
